doctype html
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='referrer', content='origin')
		meta(name='application-name', content='Frost')
		meta(name='description', content='A cool and cool social-media.')
		meta(name='author', content='team FrostDev')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes')
		meta(name='theme-color', content='#b85c3e')
		meta(name='frost-params', content=JSON.stringify(params))
		title Frost
		link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
		link(rel='apple-touch-icon', sizes='152x152', href='/images/apple-touch-icon.png')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:300,400')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
		script(src='/frost.js', async)
		if params['siteKey'] != null
			script(src='https://www.google.com/recaptcha/api.js?render=explicit', async)

	body
		noscript JavaScriptを有効に設定してください。
		h1 Frost
